# EKT2101 capacitive touchpad configuration options

# Copyright (c) 2024 Muhammad Waleed Badar
# SPDX-License-Identifier: Apache-2.0

menuconfig EKT2101
	bool "EKT2101 capacitive touchpad"
	default y
	depends on DT_HAS_ELAN_EKT2101_ENABLED
	select I2C
	help
	  Enable driver for ekt2101 I2C-based capacitive touchpad sensor.

if EKT2101

choice
	prompt "Trigger mode"
	default EKT2101_TRIGGER_GLOBAL_THREAD
	help
	  Specify the type of triggering used by the driver.

	config EKT2101_TRIGGER_GLOBAL_THREAD
		bool "Use global thread"
		depends on GPIO

	config EKT2101_TRIGGER_OWN_THREAD
		bool "Use own thread"
		depends on GPIO

endchoice

config EKT2101_THREAD_PRIORITY
	int "Thread priority"
	depends on EKT2101_TRIGGER_OWN_THREAD
	default 10
	help
	  Priority of thread used by the driver to handle interrupts.

config EKT2101_THREAD_STACK_SIZE
	int "Thread stack size"
	depends on EKT2101_TRIGGER_OWN_THREAD
	default 1024
	help
	  Stack size of thread used by the driver to handle interrupts.

endif # EKT2101