# Copyright (c) 2026 Muhammad Waleed Badar
# SPDX-License-Identifier: Apache-2.0

config INPUT_ELAN_EKT2101
	bool "Use ELAN EKT2101 capacitive touchpad driver"
	default y
	depends on DT_HAS_ELAN_EKT2101_ENABLED
	select I2C
	help
	  Enable driver for ELAN EKT2101 touchpad.
